.personalInfo{
    max-width: 100%;
    min-height: calc(100vh - 12rem);
    border-radius: 8px;
}

.user-img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    object-fit: cover;
  }

.personalInfo .right  .userInfo {
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
} 

.personalInfo .right .userInfo input {
    width: 35%;
    margin: 0.6rem 0.6rem 0 0;
    padding: 0.8rem;
    font-size: 1rem;
    color: #222;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    background-color: #f5f5f5;
    outline: none;
}
  