.title{
  color: #16a34a;
}

.setting .left, .personalInfo .left{
  width: 30%;
}
  
  .setting .left .bottom ul .active .icon {
    color: #16a34a;

  }

  .setting .left .bottom ul .icon {
    color: #5d6679;
  }
  
  .setting .left .bottom ul span {
    color: #5d6679;
  }
  
  .setting .left .bottom ul .active span {
    color: #16a34a;
  }
  
  
  .setting .left .bottom ul li:hover {
    color: #16a34a;
  }
  
  .setting .left .bottom ul li:hover .icon {
    color: #16a34a;
  }
  
  .setting .left .bottom ul li:hover span {
    color: #16a34a;
  }