.top-navbar{
    height: 3rem;
    border-bottom: 1px solid #e1e3e5;
}


.heading-text{
    color: #006653;
}

.userInfo{
    gap: 1rem;
}

.image{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
}
