.sidebar{
    flex: 1 !important;
    min-height: 100vh;
    border-right: 1px solid #E1E3E5;
}

.logo{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 3rem;
   font-size: 1.6rem;
   font-weight: 700;
   border-bottom: 1px solid #e1e3e5; 
   color: #16A34A;
}

.items{
    padding: 0.6rem;
    margin-top: 1.2rem;
}

ul{
    list-style: none;
}

ul li{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 1rem;
    margin: 1.6rem 0;
    cursor: pointer;
}

ul li .icon{
    font-size: 1.4rem;
    color: #5d6679;
}

ul li span{
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 3%;
    color: #5d6679;
}


ul li.active .icon{
    color: #16A34A;
}

ul li.active span{
    color: #16A34A;
}

ul li:hover .icon{
    color: #16A34A;
}

ul li:hover span{
    color: #16A34A;
}

.logout{
    color: #ff0000;
}