.setting {
    max-width: 100%;
    min-height: calc(100vh - 12rem);
    border-radius: 8px;
    background-color: #fff;
  }

  .innerHeading{
    color: #16a34a;
  }
  

  hr{
    width: 73%;
  }

  .user-img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .setting .right  .userInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  } 

  .setting .right .userInfo input {
    width: 35%;
    margin: 0.6rem 0.6rem 0.6rem 0;
    padding: 0.8rem;
    font-size: 1rem;
    color: #222;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    background-color: #f5f5f5;
    outline: none;
  }
  
  .setting .right .pInfo {
    margin-top: 1rem;
  }
  
  .setting .right .pInfo span {
    font-weight: 500;
  }
  
  